h1{text-align: center;background-color: aliceblue;}
h2{text-align: center;background-color: aliceblue;}
h3{text-align: center;background-color: aliceblue;}
ul{text-align: center;background-color: aqua;}
li{text-align: center;background-color: aquamarine;}
p{text-align: center;background-color: bisque;}
