h1{text-align: center;background-color: darkmagenta;}
p{text-align: center;background-color: darkmagenta;}
ul{text-align: center;background-color: cadetblue;}
li{text-align: center;background-color: darkgray;}
